<h2>Ingrese Producto</h2>

<form class="form-inline" onsubmit="return addProduct(this)" autocomplete="off">
    <input type="text" id="producto" class="form-control my-2 mr-2" placeholder="producto">
    <input type="text" id="url" class="form-control my-2 mr-2" placeholder="url">
    <input type="number"  step="0.01" id="precio" class="form-control my-2 mr-2" placeholder="precio">
    <input class="btn btn-primary my-2" type="submit" value="Enviar!">
  </form>
</div>